@font-face {
    font-family: 'Starjedi-Starjedi';
    src: url('./../fonts/starjedi/Starjedi.ttf')
}

@font-face {
    font-family: 'Starjedi-Starjhol';
    src: url('./../fonts/starjedi/Starjhol.ttf')
}


@font-face {
    font-family: 'Starjout-Starjout';
    src: url('./../fonts/starjout/Starjout.ttf')
}


@font-face {
    font-family: 'Stjedise-STJEDISE';
    src: url('./../fonts/stjedise/STJEDISE.TTF')
}


@font-face {
    font-family: 'Stjelogo-Stjldbl2';
    src: url('./../fonts/stjelogo/Stjldbl2.ttf')
}

@font-face {
    font-family: 'Stjelogo-Stjldbl1';
    src: url('./../fonts/stjelogo/Stjldbl1.ttf')
}

@font-face {
    font-family: 'Stjelogo-Strjmono';
    src: url('./../fonts/stjelogo/Strjmono.ttf')
}

