@import './fonts.scss';

body {
    overflow: hidden;
}

a.noUnderline {
    text-decoration: none;
}

.starWars {
    font-family: 'Starjedi-Starjedi';
}

.starWars-1 {
    font-family: 'Starjedi-Starjhol';
}

.starWars-2 {
    font-family: 'Stjelogo-Stjldbl1';
}